html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #867070;
}

img {
  width: 10%;
  height: auto;
}

.card-holder{
    display: flex;
    justify-content: space-evenly;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    background-color: #b8860b; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container{
    padding: 2px 16px;
    margin: 18px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin: 12px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 18px;
}

.btn-container{
    display: flex;
    justify-content: space-between;
}

.btn{
    border-radius: 12px;
    width: 72px;
    height: auto;
}

.about-container{
    display: flex;
    justify-content: space-around;
    gap: 12px;
    align-items: flex-start;
}

.about-text{
    width: 45%;
    font-size: 1.25em;
}

.about-img{
    width: 100%;
    height: auto;
}

.text-container{
  margin: 24px 12px;
  padding: 12px 24px;
  font-size: 1em;
}

.software-container{
  margin: 12px;
  padding: 12px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.btn{
  background-color: #D5B4B4;
}

.btn:hover{
  color: #F5EBEB;
}

footer{
  margin: 12px 16px;
  padding: 6px 8px;
}

.container, .company-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}