@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<main class="about-container">
        <div>
            <img class="about-img" src="images/User-Login.png" alt="Image showing a Knight with modern adornments">
        </div>
        <div class="about-text">
            <p>
                Brooklyn Standard is simple. From the name you can guess what it's about, what it
                means to convey: providing a service or working or doing any activity the Brooklyn way.
                It's not any other way, Brooklyn, NY, where the creator grew up, learned the value of money
                and first made a profit off a pack of thirty assorted candies. Soon after that the creator
                started selling copies of their poetry anthology out of their bookbag while working at a 
                bowling alley. They were hesitant, awkward, and stumbled over their words often, but they managed
                to make a good profit. Wonder why they didn't continue with that? 
            </p>
            <p>
                The 'Standard' portion of the name comes from the creators love for the standard bearer,
                or banner bearer, or flag bearer. Whatever the name the concept stays the same, they are not
                the flashiest soldier, they may not get all accolades or the recognition that other soldiers get,
                however they play a very important role. They stand tall when others cannot, they, and the standard
                they hold aloft against all odds, serve a reminder to their allies that the day is not done and 
                victory is still within their grasp. 
            </p>
            <p>
                Brooklyn Standard is something to strive towards, that determination, the ambition
                to continue climbing no matter how hard life knocks you down. What matters is that
                the standard, what we strive for, what we believe is, what we fight or live for never
                touches the ground and stands tall for all to see. The company is a beacon for small 
                businesses to find shelter and warmth, to find a common spirit that can help them achieve
                their goals.
            </p>
        </div>
    </main>
