@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
       <main class="main-container">
        <h1>Brooklyn Standard</h1>
        <div class="card-holder">
        <div class="card">
            <img src="/images/User-Login.png" alt="Image of a User">
            <div class="card-container">
                <h4>Example</h4>
                <p>Example</p>
            </div>
        </div>
        <div class="card">
            <img src="/images/User-Login2.png" alt="Image of a User">
            <div class="card-container">
                <h4>Example</h4>
                <p>Example</p>
            </div>
        </div>
        <div class="card">
            <img src="images/User-Login3.png" alt="Image of a User">
            <div class="card-container">
                <h4>Example</h4>
                <p>Example</p>
            </div>
        </div>
        </div>
        <div class="text-container text-start">
            <h3>Create Your Software</h3>
            <p>
                Having a good website or software can increase traffic to your business by tenfold.
                Customers and potential customers alike enjoy a well-designed website that is intuitive
                and gets them from Point 'A' to 'B' in as little clicks as possible.
            </p>
            <p>
                And building your website from scratch could take time away from you running your business,
                not to mention investing in a server, or finding the right hosting provider, how to implement
                artificial intelligence and working through the prompts. You could go to well known services but 
                they can charge you a fortune, and would still require time to either sit down with someone who doesn't
                truly get you.
                We do, just like you we come from humble beginnings and are here to provide you with the best services possible.
            </p>
        </div>
    </main>
</div>
