@{
    ViewData["Title"] = "Request Form";
}
<h1>@ViewData["Title"]</h1>

<header>
    <div class="center">
        <form action="Views/Home/RequestForm.cshtml/UserRequest" method="post">
            <div class="form-container">
                <label for="name">Name</label>
                <input type="text" class="name" name="name">
                <label for="email">Email Address</label>
                <input type="email" class="email" name="email">
                <label for="phone">Phone Number</label>
                <input type="number" class="phone" name="phone">
                <label for="company">Company Name</label>
                <input type="text" class="company" name="company">
                <label for="myfile">Select an Image [optional]:</label>
                <input type="file" class="myfile" name="myfile">
                <textarea class="request-text" name="request-text"></textarea>
                <div class="btn-container">
                    <input type="submit" class="btn" value="Submit">
                    <input type="button" class="btn" value="Cancel"
                </div>
            </div>
        </form>
    </div>
</header>
