@{
    ViewData["Title"] = "Software and Mobile Applications";
}
<h1>@ViewData["Title"]</h1>

<main class="main-container">
        <div class="card-holder">
        <div class="card">
            <img src="images/User-Login.png" alt="Image of a User">
            <div class="card-container">
                <h4>Example</h4>
                <p>Example</p>
            </div>
        </div>
        <div class="card">
            <img src="images/User-Login2.png" alt="Image of a User">
            <div class="card-container">
                <h4>Example</h4>
                <p>Example</p>
            </div>
        </div>
        <div class="card">
            <img src="images/User-Login3.png" alt="Image of a User">
            <div class="card-container">
                <h4>Example</h4>
                <p>Example</p>
            </div>
        </div>
        </div>
        <div class="text-container">
            <h3>Create An Application That Works For You</h3>
            <p>
                Good software can be hard to find, and when you do find it, it's usually expensive. 
                And if it isn't expensive, it's missing a vital feature that would require you to shop
                around or to purchase another piece of software, having to learn and maintain multiple
                sets of software. Not to mention working with and around updates, outages and scheduled maintenance
                or downtimes.
            </p>
            <p>
                Here at Brooklyn Standard&trade; we will work with you every step of the way, from planning,
                storyboarding and building the skeleton to launch and maintenance. We understand the need for 
                privacy, security, and above all else software that functions as intended, for mobile devices
                and personal computers. 
            </p>
        </div>
    </main>
