@{
    ViewData["Title"] = "Web Applications and Design";
}
<h1>@ViewData["Title"]</h1>

    <main class="main-container">
        <div class="card-holder">
        <div class="card">
            <img src="images/User-Login.png" alt="Image of a User">
            <div class="card-container">
                <h4>Example</h4>
                <p>Example</p>
            </div>
        </div>
        <div class="card">
            <img src="images/User-Login2.png" alt="Image of a User">
            <div class="card-container">
                <h4>Example</h4>
                <p>Example</p>
            </div>
        </div>
        <div class="card">
            <img src="images/User-Login3.png" alt="Image of a User">
            <div class="card-container">
                <h4>Example</h4>
                <p>Example</p>
            </div>
        </div>
        </div>
        <div class="text-container">
            <h3>Visualze Your Website</h3>
            <p>
                How tech savvy do you need to be to garner revenue for your business? Do you need to spend
                days trying, and failing to figure out a website that attracts new customers and retains 
                your current client base? How do you maintain a balance of artistic freedom while staying 
                professional. How best do you combine colors, animation and other stylistic choices?
            </p>
            <p>
                You need to reach out to Brooklyn Standard&trade; for your website or web application needs.
                It's no mystery that art is a very important aspect in marketing culture, think of your favorite
                soft drink, or sports team, or item. There were a team of artists who collaboraed to make a product
                that activates the human psyche in such a way that it calls to future and current customers. 
            </p>
        </div>
    </main>